<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img src="{{!item.img ? bucketUrl + '/sem-foto.png' : item.img}}">
      </ion-thumbnail>
      <ion-label><strong><h2>{{item.nome}}</h2></strong></ion-label>
      <p>{{item.preco | currency}}</p>
    </ion-item>
  </ion-list>

</ion-content>
