<app-nav></app-nav>

<ion-searchbar showCancelButton="focus" (search)="search($event)"></ion-searchbar>
<ion-content>
  <h2>Confira alguns produtos</h2>
  <div class="thumnails">
    <div class="list-thumbnail">
      <div class="img-thumb" *ngFor="let produto of produtos">
        <ion-card button>
          <ion-card-header>
            <img src="{{!produto.imageUrl ? bucketUrl + '/sem-foto.png' : produto.imageUrl}}">
            <ion-card-title>{{produto.nome}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{produto.preco | currency}}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <ion-button (click)="showAllProdutos()">Ver Todos</ion-button>

  <hr>

  <ion-grid class="categorias">
    <h2>Categorias</h2>
    <ion-row>
      <ion-card button *ngFor="let categoria of categorias" (click)="showProdCat(categoria.id)">
        <ion-card-header>
          <img src="{{!categoria.imageUrl ? bucketUrl + '/sem-foto.png' : categoria.imageUrl}}">
          <ion-card-title>{{categoria.nome}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>